/Release/
/Release.mk
/Debug/
/Debug.mk
CMakeFiles/
CMakeCache.txt
*.cmake
*/**/Makefile
compiler_config.h
moc_*.cpp
__/

lib/
*.o
*.so
*.cxx

*-solution.txt
/bin/ex*
/bin/convex_hull*
/bin/make-grid*
/bin/polygon*
